.btn {
  background: linear-gradient(-89deg, #fb00ff, #fd3198 32%, #fe4d5d 70%, #ff7900);
}

.btn:hover {
  background: linear-gradient(-89deg, #ff00ff, #fd3198 32%, #fe4d5d 70%, #ff7900);
  filter: drop-shadow(0 0 2em #646cffaa);
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}


body{
  background-color: #222121;
}

.form {
  background-color: #fcfbfb;
  margin: 30px;
  gap: 1em;
  padding: 3em;

  .formContainer,
  input {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 1em;
    box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;

  }
}

.form:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  transition: filter 700ms;

}

.nav {
  justify-content: space-between;
  padding: 1em;
  position: absolute;
  right: 0;
}

.modal {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
  /* justify-content: space-between; */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.icons {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  bottom: 10px;
  /* fill: #fff; */
  cursor: pointer;
}

.addInput {
  margin-bottom: 1em;
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 300ms;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

}

button {
  margin-bottom: 1em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 300ms;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

}

.data {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  margin-top: 1em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 300ms;
  background-color: rgba(231, 232, 233, 0.977);

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

}

.container {
  background-color: #0265cf87;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.img-responsive {

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.cancel{

  margin-top: 1em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f53737;
  color: #fff;
  transition: background-color 300ms;
  cursor: pointer;
  
  &:hover {
    background-color: #f02424;
  }

}
